:root{
    --color1: chocolate;
    --color2: coral;
    --color3: rgb(158, 80, 24);
    --nav-height: 50px;
    --nav-li-padding: 30px;
}

li{
    padding-left: var(--nav-li-padding);
    padding-right: var(--nav-li-padding);
    user-select: none;
    height: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--color1);
}

nav{
    height: var(--nav-height);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

li>a{
    text-decoration: none;
    color: black;
    margin: auto;
}

li:hover{
    background: var(--color3);
    cursor: pointer;
}

.dropdown-content-div{
    display: none;
}

.dropdown:hover .dropdown-content-div{
    display: block;
    position: absolute;
}

ul .dropdown-content{
    flex-direction: column;
}

.active>li{
    background: var(--color3);
}